---
import GenericHero from '@components/organisms/GenericHero';
import SearchResult from '@components/molecules/SearchResult';
import { PostType } from '@schemas/post-types';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getGardenConfig, getSiteMeta } from '@data/yaml';

const pageData = getGardenConfig();
const siteMeta = getSiteMeta();
---

<BaseLayout
  title={pageData.pageTitle}
  description={pageData.pageDescription}
  image={pageData.pagePreviewImage ? siteMeta.baseUrl + pageData.pagePreviewImage : undefined}
>
  <div class="p-garden full-width u-content-grid">
    <div class="p-garden__hero full-width">
      <GenericHero
        title={pageData.hero?.title}
        body={pageData.hero?.body}
        image={pageData.hero?.image}
      />
    </div>

    <div class="p-garden__items">
      {
        pageData.pages.map((page) => (
          <SearchResult
            title={page.title}
            url={page.url}
            excerpt={page.excerpt}
            type={PostType.PAGE}
            hideImage={true}
            isExcerptAQuote={false}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  @use '/src/styles/mixins';

  :root:has(.p-garden) {
    @include mixins.set-accent-color('garden');
  }

  .p-garden {
    &__items {
      display: flex;
      flex-direction: column;
    }
  }
</style>
