---
import ContentWithImage from '@components/organisms/ContentWithImage';
import HomePageHero from '@components/organisms/HomePageHero';
import PostsTimeline from '@components/organisms/PostsTimeline';
import { getPaginatedTimelineEntries } from '@data/everything';
import { getHomeConfig, getSiteMeta } from '@data/yaml';
import BaseLayout from '@layouts/BaseLayout.astro';

const siteMeta = getSiteMeta();
const data = getHomeConfig();

const latestTimelineEntries = (await getPaginatedTimelineEntries(1)).posts;
---

<BaseLayout>
  {
    data?.hero && (
      <div class='p-home__hero full-width'>
        <HomePageHero
          {...data.hero}
          image={siteMeta.author.image}
          extraImages={siteMeta.author.extraImages}
          socials={siteMeta.author.socials}
          client:load
        />
      </div>
    )
  }

  <div class='p-home__content full-width u-content-grid'>
    {
      data?.blogSection && (
        <ContentWithImage
          class='p-home__section smol'
          {...data.blogSection}
          imageBehavior={data.blogSection.imageBehavior || 'contain'}
          animateOnEntry={data.blogSection.animateOnEntry || true}
        />
      )
    }

    {
      data?.coolLinksSection && (
        <ContentWithImage
          class='p-home__section smol'
          {...data.coolLinksSection}
          imageBehavior={data.coolLinksSection.imageBehavior || 'contain'}
          imagePosition={data.coolLinksSection.imagePosition || 'before'}
          animateOnEntry={data.coolLinksSection.animateOnEntry || true}
        />
      )
    }

    {
      data?.quickReviewsSection && (
        <ContentWithImage
          class='p-home__section smol'
          {...data.quickReviewsSection}
          imageBehavior={data.quickReviewsSection.imageBehavior || 'contain'}
          animateOnEntry={data.quickReviewsSection.animateOnEntry || true}
        />
      )
    }

    {
      data?.photographySection && (
        <ContentWithImage
          class='p-home__section smol'
          {...data.photographySection}
          imageBehavior={data.photographySection.imageBehavior || 'contain'}
          imagePosition={data.photographySection.imagePosition || 'before'}
          animateOnEntry={data.photographySection.animateOnEntry || true}
        />
      )
    }

    <hr class='p-home__divider smol' />

    {
      latestTimelineEntries?.length > 0 && data?.latestSection && (
        <div class='p-home__archive smol'>
          <PostsTimeline
            title={data.latestSection.title ?? 'The Latest'}
            headerBody={data.latestSection.headerBody}
            headerCentered={false}
            button={{
              text: data.latestSection.button?.text ?? 'To the Archives',
              href: data.latestSection.button?.href ?? '/archive',
              icon: data.latestSection.button?.icon ?? 'arrow',
              iconPosition: (data.latestSection.button?.iconPosition as 'right' | 'left' | undefined) ?? 'right',
            }}
            bottomButton={{
              text: data.latestSection.button?.text ?? 'To the Archives',
              href: data.latestSection.button?.href ?? '/archive',
              icon: data.latestSection.button?.icon ?? 'arrow',
              iconPosition: (data.latestSection.button?.iconPosition as 'right' | 'left' | undefined) ?? 'right',
            }}
            postGroups={latestTimelineEntries}
            client:load
          />
        </div>
      )
    }
  </div>
</BaseLayout>

<style lang='scss'>
  .p-home {
    &__divider {
      border-color: var(--t-v6--border--medium);
    }
  }
</style>
