---
import HomePageHero from '@components/organisms/HomePageHero';
import PostsSection from '@components/organisms/PostsSection';
import PostsTimeline from '@components/organisms/PostsTimeline';
import UnderConstructionDisclaimer from '@components/organisms/UnderConstructionDisclaimer';
import { getRecentBlogPosts } from '@data/blogPosts';
import { getPaginatedTimelineEntries } from '@data/everything';
import BaseLayout from '@layouts/BaseLayout.astro';
import metaConfig from '@public/cms/meta.yml';
import type { SiteMeta } from '@schemas/site-meta';


const siteMeta: SiteMeta = metaConfig;

// const recentPosts = await getRecentBlogPosts();
const latestTimelineEntries = (await getPaginatedTimelineEntries(1, undefined, { postsPerPage: 7, breakDays: true })).posts;
---

<BaseLayout>
  <div class="u-spaced-content">
    <HomePageHero
      kicker='Hey, I’m'
      title={`${siteMeta.author.name}.`}
      body={siteMeta.author.bio}
      image={siteMeta.author.image}
      extraImages={siteMeta.author.extraImages}
      client:load
    />    

    <UnderConstructionDisclaimer />

    <!-- {recentPosts?.length > 0 && (
      <PostsSection
        title="Latest on the blog"
        button={{
          text: 'See all posts',
          url: '/blog'
        }}
        posts={recentPosts}
      />
    )} -->

    {latestTimelineEntries?.length > 0 && (
      <PostsTimeline
        title="Latest posts"
        bottomButton={{
          text: 'View more',
          url: '/timeline'
        }}
        postGroups={latestTimelineEntries}
        client:load
      />
    )}
    
  </div>
</BaseLayout>
