---
import HomePageHero from '@components/organisms/HomePageHero';
import PostsSection from '@components/organisms/PostsSection';
import UnderConstructionDisclaimer from '@components/organisms/UnderConstructionDisclaimer';
import { getRecentPosts } from '@data/blogPosts';
import BaseLayout from '@layouts/BaseLayout.astro';
import metaConfig from '@public/cms/meta.yml';
import type { SiteMeta } from '@schemas/site-meta';

const siteMeta: SiteMeta = metaConfig;

const recentPosts = await getRecentPosts();
---

<BaseLayout>
  <div class="u-spaced-content">
    <HomePageHero
      kicker='Hey, I’m'
      title={`${siteMeta.author.name}.`}
      body={siteMeta.author.bio}
      image={siteMeta.author.image}
      extraImages={siteMeta.author.extraImages}
      client:load
    />

    <UnderConstructionDisclaimer />

    {recentPosts?.length > 0 && (
      <PostsSection
        title="Latest on the blog"
        button={{
          text: 'See all posts',
          url: '/blog'
        }}
        posts={recentPosts}
      />
    )}    
  </div>
</BaseLayout>
