---
import HomePageHero from '@components/organisms/HomePageHero';
import NewsletterCta from '@components/organisms/NewsletterCta';
import PostsSection from '@components/organisms/PostsSection';
import { getRecentPosts } from '@data/blogPosts';
import BaseLayout from '@layouts/BaseLayout.astro';
import metaConfig from '@public/cms/meta.yml';
import type { SiteMeta } from '@schemas/site-meta';

const siteMeta: SiteMeta = metaConfig;

const recentPosts = await getRecentPosts();
---

<BaseLayout>
  <div class="u-spaced-content">
    <HomePageHero
      kicker='Hey, I’m'
      title={`${siteMeta.author.name}.`}
      body={siteMeta.author.bio}
      image={siteMeta.author.image}
      extraImages={siteMeta.author.extraImages}
      client:load
    />

    {recentPosts?.length > 0 && (
      <PostsSection
        title="Latest on the blog"
        button={{
          text: 'See all posts',
          url: '/blog'
        }}
        posts={recentPosts}
      />
    )}

    {siteMeta.newsletterCta && siteMeta.newsletterCta.formUrl && (
      <NewsletterCta
        heading={siteMeta.newsletterCta.heading}
        body={siteMeta.newsletterCta.body}
        formUrl={siteMeta.newsletterCta.formUrl}
        tag="cta-home-page"
      />
    )}
  </div>
</BaseLayout>
