---
import BlogPostCard from '@components/molecules/BlogPostCard';
import BlogPostCards from '@components/molecules/BlogPostCards';
import { getSiteMeta, getBlogArchiveConfig } from '@data/yaml';
import type { BlogPost, BlogPostCategory } from '@schemas/blog';
import type { FilterTag, FilterGroup } from '@schemas/filter';
import BaseArchiveLayout from './BaseArchiveLayout.astro';
import { blogPostToBlogPostCardProps } from '@utils/prop-mapping';

interface Props {
  posts: BlogPost[];
  currentPage: number;
  totalPages: number;
  totalPosts: number;
  currentCategory?: BlogPostCategory;
  currentDate?: string;
  categoryFilters?: FilterTag[];
  dateFilters?: FilterGroup[];
}

const {
  posts,
  currentPage,
  totalPages,
  totalPosts,
  currentCategory,
  currentDate,
  categoryFilters,
  dateFilters,
}: Props = Astro.props;

const siteMeta = getSiteMeta();
const pageData = getBlogArchiveConfig();

const filterGroups: FilterGroup[] = [];
if (categoryFilters) {
  filterGroups.push({ label: 'Filter by category', tags: categoryFilters });
}
if (dateFilters) {
  filterGroups.push({ label: 'Filter by month', groups: dateFilters });
}

let summaryText = '';
if (currentCategory || currentDate) {
  summaryText = `${totalPosts} ${totalPosts === 1 ? 'post' : 'posts'}`;
  if (currentCategory) summaryText += ` for category "${currentCategory.name}"`;
  if (currentDate) summaryText += ` from ${currentDate}`;
}

const baseUrl = '/blog';
const basePaginationUrl = `/blog${currentCategory ? `/category/${currentCategory.slug}` : ''}`;
---

<BaseArchiveLayout
  className='l-blog-archive'
  title={pageData.pageTitle}
  image={pageData.pagePreviewImage ? siteMeta.baseUrl + pageData.pagePreviewImage : undefined}
  description={pageData.pageDescription}
  heroTitle={pageData.hero?.title}
  heroBody={pageData.hero?.body}
  baseUrl={baseUrl}
  basePaginationUrl={basePaginationUrl}
  currentPage={currentPage}
  totalPages={totalPages}
  filterGroups={filterGroups}
  summaryText={summaryText}
>
  {!posts.length && <p class='u-h4'>No posts found</p>}

  {
    posts && (
      <BlogPostCards class='l-blog-archive__posts'>
        {posts.map((post) => (
          <BlogPostCard {...blogPostToBlogPostCardProps(post)} />
        ))}
      </BlogPostCards>
    )
  }
</BaseArchiveLayout>

<style lang='scss'>
  @use '/src/styles/mixins';

  :root:has(.l-blog-archive) {
    @include mixins.set-accent-color('blog');
  }
</style>
