---
import BlogPostCard from '@components/molecules/BlogPostCard';
import BlogPostCards from '@components/molecules/BlogPostCards';
import Pagination from '@components/molecules/Pagination';
import ArchiveHero from '@components/organisms/ArchiveHero';
import NewsletterCta from '@components/organisms/NewsletterCta';
import metaConfig from '@public/cms/meta.yml';
import type { BlogPost, BlogPostCategory } from '@schemas/blog';
import type { SiteMeta } from '@schemas/site-meta';
import BaseLayout from './BaseLayout.astro';

interface Props {
  posts: BlogPost[];
  currentPage: number;
  totalPages: number;
  totalPosts: number;
  currentCategory?: BlogPostCategory;
  allCategories?: BlogPostCategory[];
}

const { posts, currentPage, totalPages, totalPosts, currentCategory, allCategories }: Props = Astro.props;

const siteMeta: SiteMeta = metaConfig;

allCategories?.forEach((category) => {
  category.active = category.slug === currentCategory?.slug;
  if (category.active) {
    category.url = '/blog';
  }
});
---

<BaseLayout title={`${siteMeta.author?.name}'s Blog`} autoGenerateImage hasHeaderBackground>

  <div class='l-blog-archive'>
    <div class='l-blog-archive__container'>
      <ArchiveHero
        class='l-blog-archive__hero'
        title='Blog'
        body="I usually post about the topics below. You can click on a category to filter posts by it."
        tagGroups={allCategories ? [{ label: 'Filter by category:', tags: allCategories }] : []}
      />

      <div class='l-blog-archive__content-wrapper u-container'>
        {
          !posts.length && (
            <p class="u-h4">No posts found</p>
          )
        }

        {
          currentCategory && (
            <p class="l-blog-archive__summary">
              {totalPosts} posts found for category “{currentCategory.name}”.
            </p>
          )
        }

        {
          posts && (
            <BlogPostCards class='l-blog-archive__posts'>
              {posts.map((post) => (
                <BlogPostCard
                  title={post.title}
                  slug={post.slug}
                  url={`/blog/${post.slug}`}
                  image={post.coverImage}
                  imageAlt={post.coverImageAlt}
                  readingTime={post.readingTime}
                  excerpt={post.excerpt}
                  tags={post.categories?.slice(0, 1)}
                />
              ))}
            </BlogPostCards>
          )
        }

        {
          totalPages > 1 && (
            <Pagination
              class='l-blog-archive__pagination'
              currentPage={currentPage}
              totalPages={totalPages}
              baseUrl={`/blog${currentCategory ? `/category/${currentCategory.slug}` : ''}`}
            />
          )
        }
      </div>

      {siteMeta.newsletterCta && siteMeta.newsletterCta.formUrl && (
        <NewsletterCta
          heading={siteMeta.newsletterCta.heading}
          body={siteMeta.newsletterCta.body}
          formUrl={siteMeta.newsletterCta.formUrl}
          tag="cta-home-page"
        />
      )}
    </div>
  </div>
</BaseLayout>

<style lang='scss'>
  @use '/src/styles/breakpoints';
  @use '/src/styles/typography';

  :root:has(.l-blog-archive) {
    --theme--color-accent: var(--theme--color-post);
    --theme--color-accent-rgb: var(--theme--color-post-rgb);
    --theme--color-accent-contrast: var(--theme--color-post-contrast);
    --theme--color-accent-shade: var(--theme--color-post-shade);
    --theme--color-accent-tint: var(--theme--color-post-tint);
    --theme--color-accent-glow: var(--theme--color-post-glow);
  }

  .l-blog-archive {
    &__container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxl);

      @include breakpoints.for-phone-only {
        gap: var(--spacing-xl);
      }
    }

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg);
    }

    &__summary {
      @include typography.h2;
      text-align: center;
      color: var(--theme--color-accent);
    }
  }
</style>
