---
import BlogPostCard from '@components/molecules/BlogPostCard';
import BlogPostCards from '@components/molecules/BlogPostCards';
import metaConfig from '@public/cms/meta.yml';
import type { BlogPost, BlogPostCategory } from '@schemas/blog';
import type { FilterTag, FilterGroup } from '@schemas/filter';
import type { SiteMeta } from '@schemas/site-meta';
import BaseArchiveLayout from './BaseArchiveLayout.astro';
import { blogPostToBlogPostCardProps } from '@utils/prop-mapping';

interface Props {
  posts: BlogPost[];
  currentPage: number;
  totalPages: number;
  totalPosts: number;
  currentCategory?: BlogPostCategory;
  currentDate?: string;
  categoryFilters?: FilterTag[];
  dateFilters?: FilterGroup[];
}

const { posts, currentPage, totalPages, totalPosts, currentCategory, currentDate, categoryFilters, dateFilters }: Props = Astro.props;

const siteMeta: SiteMeta = metaConfig;

const filterGroups: FilterGroup[] = [];
if (categoryFilters) {
  filterGroups.push({ label: 'Filter by category:', tags: categoryFilters });
}
if (dateFilters) {
  filterGroups.push({ label: 'Filter by date:', groups: dateFilters });
}

let summaryText = '';
if (currentCategory || currentDate) {
  summaryText = `${totalPosts} ${totalPosts === 1 ? 'post' : 'posts'}`;
  if (currentCategory) summaryText += ` for category "${currentCategory.name}"`;
  if (currentDate) summaryText += ` from ${currentDate}`;
}

const baseUrl = '/blog';
const basePaginationUrl = `/blog${currentCategory ? `/category/${currentCategory.slug}` : ''}`;
---

<BaseArchiveLayout
  title={`${siteMeta.author?.name}'s Blog`}
  heroTitle='Blog'
  heroBody='I usually post about the topics below. You can click on a category to filter posts by it.'
  baseUrl={baseUrl}
  basePaginationUrl={basePaginationUrl}
  currentPage={currentPage}
  totalPages={totalPages}
  filterGroups={filterGroups}
  summaryText={summaryText}
  className='l-blog-archive'
>
  {!posts.length && <p class='u-h4'>No posts found</p>}

  {
    posts && (
      <BlogPostCards class='l-blog-archive__posts' maxPerRow={2}>
        {posts.map((post) => (
          <BlogPostCard {...blogPostToBlogPostCardProps(post)} />
        ))}
      </BlogPostCards>
    )
  }
</BaseArchiveLayout>

<style lang='scss'>
  :root:has(.l-blog-archive) {
    --theme--color-accent: var(--theme--color-blog-post);
    --theme--color-accent-rgb: var(--theme--color-blog-post-rgb);
    --theme--color-accent-contrast: var(--theme--color-blog-post-contrast);
    --theme--color-accent-shade: var(--theme--color-blog-post-shade);
    --theme--color-accent-tint: var(--theme--color-blog-post-tint);
    --theme--color-accent-glow: var(--theme--color-blog-post-glow);
  }
</style>
