---
import CoolLinkCards from '@components/molecules/CoolLinkCards';
import Pagination from '@components/molecules/Pagination';
import ArchiveHero from '@components/organisms/ArchiveHero';
import metaConfig from '@public/cms/meta.yml';
import type { CoolLink, CoolLinkTag } from '@schemas/cool-link';
import type { SiteMeta } from '@schemas/site-meta';
import BaseLayout from './BaseLayout.astro';
const siteMeta: SiteMeta = metaConfig;

interface Props {
  links: CoolLink[];
  currentPage: number;
  totalPages: number;
  totalLinks: number;
  currentTag?: CoolLinkTag;
  allTags?: CoolLinkTag[];
}

const { links, currentPage, totalPages, totalLinks, currentTag, allTags }: Props = Astro.props;

allTags?.forEach((tag) => {
  tag.active = tag.slug === currentTag?.slug;
  tag.name = `#${tag.name}`;
  if (tag.active) {
    tag.url = '/cool-links';
  }
});
---

<BaseLayout
  title='Cool Links'
  image={siteMeta.baseUrl + '/cms/media/articles/cool-links-preview.png'}
  description="A collection of links to interesting things I've come across."
  hasHeaderBackground
>
  <div class='l-cool-links-archive'>
    <div class='l-cool-links-archive__container' data-pagefind-body>
      <ArchiveHero
        class='l-cool-links-archive__hero'
        title='Cool Links'
        body='Here’s a collection of interesting links I’ve found around the web. The feed updates frequently, and I compile everything into a blog post on the last day of each month.'
        tagGroups={allTags ? [{ label: 'Filter by tag:', tags: allTags }] : []}
        image={siteMeta.baseUrl + '/cms/media/articles/cool-links-cover.png'}
      />

      <div class='l-cool-links-archive__content-wrapper u-container'>
        {!links.length && <p class='u-h4'>No links found</p>}

        {
          totalLinks && (
            <p class='l-cool-links-archive__summary'>
              {totalLinks} links
              {currentTag && ` tagged "${currentTag.name}"`}
            </p>
          )
        }

        {
          // I'm passing reviews as a prop here to avoid having multiple
          // Elements with client:load. Having multiple islands like that
          // can cause issues.
          links && <CoolLinkCards {links} client:load />
        }

        {
          totalPages > 1 && (
            <Pagination
              class='l-cool-links-archive__pagination'
              currentPage={currentPage}
              totalPages={totalPages}
              baseUrl={`/cool-links${currentTag ? `/tag/${currentTag.slug}` : ''}`}
            />
          )
        }
      </div>
    </div>
  </div>
</BaseLayout>

<style lang='scss'>
  @use '/src/styles/breakpoints';
  @use '/src/styles/typography';

  :root:has(.l-cool-links-archive) {
    --theme--color-accent: var(--theme--color-cool-link);
    --theme--color-accent-rgb: var(--theme--color-cool-link-rgb);
    --theme--color-accent-contrast: var(--theme--color-cool-link-contrast);
    --theme--color-accent-shade: var(--theme--color-cool-link-shade);
    --theme--color-accent-tint: var(--theme--color-cool-link-tint);
    --theme--color-accent-glow: var(--theme--color-cool-link-glow);
  }

  .l-cool-links-archive {
    &__container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxl);

      @include breakpoints.for-phone-only {
        gap: var(--spacing-xl);
      }
    }

    &__content-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg);
    }

    &__summary {
      text-align: center;
    }
  }
</style>
