---
import CoolLinkCards from '@components/molecules/CoolLinkCards';
import type { CoolLink, CoolLinkTag } from '@schemas/cool-link';
import type { FilterTag, FilterGroup } from '@schemas/filter';
import BaseArchiveLayout from './BaseArchiveLayout.astro';
import type { SiteMeta } from '@schemas/site-meta';
import metaConfig from '@public/cms/meta.yml';
const siteMeta: SiteMeta = metaConfig;

interface Props {
  links: CoolLink[];
  currentPage: number;
  totalPages: number;
  totalLinks: number;
  currentTag?: CoolLinkTag;
  currentDate?: string;
  tagFilters?: FilterTag[];
  dateFilters?: FilterGroup[];
}

const {
  links,
  currentPage,
  totalPages,
  totalLinks,
  currentTag,
  currentDate,
  tagFilters,
  dateFilters,
}: Props = Astro.props;

const filterGroups: FilterGroup[] = [];
if (tagFilters) {
  filterGroups.push({ label: 'Filter by tag', tags: tagFilters });
}
if (dateFilters) {
  filterGroups.push({ label: 'Filter by month', groups: dateFilters });
}

let summaryText = '';
if (totalLinks) {
  summaryText = `${totalLinks} links`;
  if (currentTag) summaryText += ` tagged "${currentTag.name}"`;
  if (currentDate) summaryText += ` from ${currentDate}`;
}
const basePaginationUrl = `/cool-links${currentTag ? `/tag/${currentTag.slug}` : ''}`;
---

<BaseArchiveLayout
  className='l-cool-links-archive'
  title='Cool Links'
  image={siteMeta.baseUrl + '/cms/media/articles/cool-links-preview.png'}
  description="A collection of links to interesting things I've come across."
  heroTitle='Cool Links'
  heroBody="Cool links are a collection of interesting things I find around the web. They can range from fun dumb websites to deep thought-provoking essays, or more commonly something in between. The feed here updates frequently, and I compile everything into a blog post on the last day of each month."
  heroImage={siteMeta.baseUrl + '/cms/media/articles/cool-links-cover.png'}
  heroImageAlt='Illustration of Cool Links in a laptop screen, with a hand pointing at them in a cool way.'
  baseUrl='/cool-links'
  basePaginationUrl={basePaginationUrl}
  currentPage={currentPage}
  totalPages={totalPages}
  filterGroups={filterGroups}
  summaryText={summaryText}
>
  {!links.length && <p class='u-h4'>No links found</p>}

  {
    // I'm passing links as a prop here to avoid having multiple
    // Elements with client:load. Having multiple islands like that
    // can cause issues.
    links && <CoolLinkCards {links} client:load />
  }
</BaseArchiveLayout>

<style lang='scss'>
  @use '/src/styles/mixins';

  :root:has(.l-cool-links-archive) {
    @include mixins.set-accent-color('cool-link');
  }
</style>
