---
import CoolLinkCards from '@components/molecules/CoolLinkCards';
import type { CoolLink, CoolLinkTag } from '@schemas/cool-link';
import BaseArchiveLayout from './BaseArchiveLayout.astro';

interface Props {
  links: CoolLink[];
  currentPage: number;
  totalPages: number;
  totalLinks: number;
  currentTag?: CoolLinkTag;
  allTags?: CoolLinkTag[];
}

const { links, currentPage, totalPages, totalLinks, currentTag, allTags }: Props = Astro.props;

const summaryText = totalLinks ? `${totalLinks} links${currentTag ? ` tagged "${currentTag.name}"` : ''}` : '';
const basePaginationUrl = `/cool-links${currentTag ? `/tag/${currentTag.slug}` : ''}`;
---

<BaseArchiveLayout
  className='l-cool-links-archive'
  title='Cool Links'
  heroTitle='Cool Links'
  heroBody="Here's a collection of interesting links I've found around the web. The feed updates frequently, and I compile everything into a blog post on the last day of each month."
  baseUrl='/cool-links'
  basePaginationUrl={basePaginationUrl}
  currentPage={currentPage}
  totalPages={totalPages}
  summaryText={summaryText}
>
  {!links.length && <p class='u-h4'>No links found</p>}

  {
    // I'm passing links as a prop here to avoid having multiple
    // Elements with client:load. Having multiple islands like that
    // can cause issues.
    links && <CoolLinkCards {links} client:load />
  }
</BaseArchiveLayout>

<style lang='scss'>
  @use '/src/styles/mixins';

  :root:has(.l-cool-links-archive) {
    @include mixins.set-accent-color('cool-link');
  }
</style>
