---
import Button from '@components/atoms/Button';
import type { CoolLink } from '@schemas/cool-link';
import BaseLayout from './BaseLayout.astro';
import CoolLinkCard from '@components/molecules/CoolLinkCard';
import ArchiveHero from '@components/organisms/ArchiveHero';
import metaConfig from '@public/cms/meta.yml';
import type { SiteMeta } from '@schemas/site-meta';

interface Props {
  link: CoolLink;
}

const { link }: Props = Astro.props;

const siteMeta: SiteMeta = metaConfig;
---

<BaseLayout
  title={link.title || 'Cool Link'}
  keywords={link.title || 'Cool Link'}
  description={link.content}
  slug={`cool-links/${link.slug}`}
  publishedDate={link.savedOn}
>
  <div class='l-cool-link'>
    <div class='l-cool-link__container' data-pagefind-body>
      <ArchiveHero
        class='l-cool-link__hero'
        title={'Cool Link: ' + link.title}
        body={link.author ? 'by ' + link.author : ''}
        button={{ label: 'View all Cool Links', href: '/cool-links' }}
        image={siteMeta.baseUrl + '/cms/media/articles/cool-links-cover.png'}
      />

      <div class='l-cool-link__inner-container u-container'>
        <CoolLinkCard
          title={link.title as string}
          author={link.author as string | undefined}
          url={link.url}
          date={link.savedOn as any}
          tags={link.tags}
          content={link.content as string | undefined}
        />
      </div>
    </div>
  </div>
</BaseLayout>

<style lang='scss'>
  @use '/src/styles/breakpoints';
  @use '/src/styles/mixins';
  @use '/src/styles/typography';

  :root {
    &:has(.l-cool-link) {
      --theme--color-accent: var(--theme--color-cool-link);
      --theme--color-accent-rgb: var(--theme--color-cool-link-rgb);
      --theme--color-accent-contrast: var(--theme--color-cool-link-contrast);
      --theme--color-accent-shade: var(--theme--color-cool-link-shade);
      --theme--color-accent-tint: var(--theme--color-cool-link-tint);
      --theme--color-accent-glow: var(--theme--color-cool-link-glow);
    }

    &[data-theme='dark'],
    &[data-theme='auto'] {
      &:has(.l-cool-link) {
        --theme--color-accent: var(--theme--color-cool-link);
        --theme--color-accent-rgb: var(--theme--color-cool-link-rgb);
        --theme--color-accent-contrast: var(--theme--color-cool-link-contrast);
        --theme--color-accent-shade: var(--theme--color-cool-link-shade);
        --theme--color-accent-tint: var(--theme--color-cool-link-tint);
        --theme--color-accent-glow: var(--theme--color-cool-link-glow);
      }
    }
  }

  .l-cool-link {
    &__container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxl);

      @include breakpoints.for-phone-only {
        gap: var(--spacing-xl);
      }
    }

    &__inner-container {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg);
      align-items: center;
      justify-content: center;
    }
  }
</style>
