---
import CoolLinkCard from '@components/molecules/CoolLinkCard';
import type { CoolLink } from '@schemas/cool-link';
import striptags from 'striptags';
import BaseLayout from './BaseLayout.astro';
import { coolLinkToCoolLinkCardProps } from '@utils/prop-mapping';
import PostsTimeline from '@components/organisms/PostsTimeline';
import { getCoolLinkSingleConfig } from '@data/yaml';
import MarkdownRenderer from '@components/molecules/MarkdownRenderer';

interface Props {
  link: CoolLink;
  latestTimelineEntries?: any[];
}

const { link, latestTimelineEntries }: Props = Astro.props;
const pageData = getCoolLinkSingleConfig();
---

<BaseLayout
  title={link.title || 'Cool Link'}
  keywords={link.title || 'Cool Link'}
  description={striptags(link.content || '')}
  slug={`cool-links/${link.slug}`}
  publishedDate={link.savedOn}
>
  <div class='l-cool-link u-content-grid'>
    <div class='l-cool-link__container' data-pagefind-body>
      <h1 class='l-cool-link__title'>Cool Link: {link.title}</h1>

      <CoolLinkCard class='l-cool-link__link' {...coolLinkToCoolLinkCardProps(link)} />

      {
        pageData?.about && (
          <div class="l-cool-link__about u-markdown" data-pagefind-ignore>
            <MarkdownRenderer content={pageData.about} />

            {latestTimelineEntries?.length > 0 && pageData.timelineIntro && (
              <MarkdownRenderer content={pageData.timelineIntro} />
              <hr />
            )}
          </div>
        )
      }

      {
        latestTimelineEntries?.length > 0 && (
          <aside data-pagefind-ignore>
            <PostsTimeline
              bottomButton={{
                text: 'View more',
                href: '/archive',
              }}
              postGroups={latestTimelineEntries}
              client:load
            />
          </aside>
          )
        }
    </div>
  </div>
</BaseLayout>

<style lang='scss'>
 @use '/src/styles/mixins';

  :root:has(.l-cool-link) {
    @include mixins.set-accent-color('cool-link');
  }

  .l-cool-link {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-xl);

      padding-block: var(--spacing-xl);
    }

    &__title {
      text-align: center;
      text-wrap: balance;
      color: var(--t--accent);
    }

    &__about {
      max-width: 580px;

      hr {
        width: 100%;
        border-top-style: dashed;
      }
    }
  }
</style>
