---
import PhotographyCards from '@components/molecules/PhotographyCards';
import type { Photography } from '@schemas/photography';
import BaseArchiveLayout from './BaseArchiveLayout.astro';
import { getSiteMeta, getPhotographyArchiveConfig } from '@data/yaml';
const siteMeta = getSiteMeta();
const pageData = getPhotographyArchiveConfig();

interface Props {
  photographies: Photography[];
  currentPage: number;
  totalPages: number;
}

const { photographies, currentPage, totalPages }: Props = Astro.props;
---

<BaseArchiveLayout
  className='l-photography-archive'
  title={pageData.pageTitle}
  image={pageData.pagePreviewImage ? siteMeta.baseUrl + pageData.pagePreviewImage : undefined}
  heroTitle={pageData.hero?.title}
  heroBody={pageData.hero?.body}
  baseUrl='/photography'
  currentPage={currentPage}
  totalPages={totalPages}
>
  {!photographies.length && <p class='u-h4'>No photography posts found</p>}

  {photographies.length > 0 && (
    <PhotographyCards {photographies} client:load />
  )}
</BaseArchiveLayout>

<style lang='scss'>
  @use '/src/styles/mixins';

  :root:has(.l-photography-archive) {
    @include mixins.set-accent-color('photography');
  }
</style>
