---
import Image from '@components/atoms/Image';
import MarkdownRenderer from '@components/molecules/MarkdownRenderer';
import type { Photography } from '@schemas/photography';
import dateformat from 'dateformat';
import BaseLayout from './BaseLayout.astro';
import striptags from 'striptags';
import PostsTimeline from '@components/organisms/PostsTimeline';
import { getPhotographySingleConfig } from '@data/yaml';

interface Props {
  photography: Photography;
  latestTimelineEntries?: any[];
}

const { photography, latestTimelineEntries }: Props = Astro.props;
const pageData = getPhotographySingleConfig();
---

<BaseLayout
  title={photography.title}
  keywords={photography.title}
  description={striptags(photography.content || '')}
  image={photography.image}
  autoGenerateImage={!photography.image}
  slug={`photography/${photography.slug}`}
  publishedDate={photography.publishedDate}
>
  <div class='l-photography y-content-grid'>
    <div class='l-photography__container' data-pagefind-body>
      <h1 class='l-photography__title'>Photography: {photography.title}</h1>

      <div class='l-photography__about u-markdown'>
        {photography.photoDate && <p class="md-center">Taken on {dateformat(photography.photoDate, 'yyyy-mm-dd', true)}</p>}

        <MarkdownRenderer content={photography.content} />
      </div>

      <div class='l-photography__images'>
        <Image
          class='m-photography-card__image'
          src={photography.image}
          alt={photography.imageAlt || photography.content || ''}
        />

        {
          photography.additionalImages &&
            photography.additionalImages.map((additionalImage) => (
              <Image
                class='m-photography-card__image'
                src={additionalImage.src}
                alt={additionalImage.alt || photography.content || ''}
              />
            ))
        }
      </div>

      {
        pageData?.about && (
          <div class="l-photography__about u-markdown" data-pagefind-ignore>
            <MarkdownRenderer content={pageData.about} />

            {latestTimelineEntries?.length > 0 && pageData.timelineIntro && (
              <MarkdownRenderer content={pageData.timelineIntro} />
              <hr />
            )}
          </div>
        )
      }

      {
        latestTimelineEntries?.length > 0 && (
          <aside data-pagefind-ignore>
            <PostsTimeline
              bottomButton={{
                text: 'View more',
                href: '/archive',
              }}
              postGroups={latestTimelineEntries}
              client:load
            />
          </aside>
        )
      }
    </div>
  </div>

  <style lang='scss'>
    @use '/src/styles/mixins';

    :root:has(.l-photography) {
      @include mixins.set-accent-color('photography');
    }

    .l-photography {
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-xl);

        padding-block: var(--spacing-xl);
      }

      &__title {
        text-align: center;
        text-wrap: balance;
        color: var(--t-v6--accent);
      }

      &__about {
        max-width: 580px;

        hr {
          width: 100%;
          border-top-style: dashed;
        }
      }

      &__images {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
      }
    }
  </style>
</BaseLayout>
