---
import Image from '@components/atoms/Image';
import MarkdownRenderer from '@components/molecules/MarkdownRenderer';
import type { Photography } from '@schemas/photography';
import dateformat from 'dateformat';
import BaseLayout from './BaseLayout.astro';
import striptags from 'striptags';
import Button from '@components/atoms/Button';
import PostsTimeline from '@components/organisms/PostsTimeline';

interface Props {
  photography: Photography;
  latestTimelineEntries?: any[];
}

const { photography, latestTimelineEntries }: Props = Astro.props;
---

<BaseLayout
  title={photography.title}
  keywords={photography.title}
  description={striptags(photography.content || '')}
  image={photography.image}
  autoGenerateImage={!photography.image}
  slug={`photography/${photography.slug}`}
  publishedDate={photography.publishedDate}
>
  <div class='l-photography y-content-grid'>
    <div class='l-photography__container' data-pagefind-body>
      <!-- <ArchiveHero
        class='l-photography__hero'
        title={'Photography: ' + photography.title}
        body={photography.photoDate ? 'Taken on ' + dateformat(photography.publishedDate, 'yyyy-mm-dd', true) : ''}
        button={{ label: 'View all Photography', href: '/photography' }}
      /> -->

      <h1 class='l-photography__title'>Photography: {photography.title}</h1>

      <div class='l-photography__about u-markdown'>
        {photography.photoDate && <p>Taken on {dateformat(photography.photoDate, 'yyyy-mm-dd', true)}</p>}

        <MarkdownRenderer content={photography.content} />
      </div>

      <div class='l-photography__images'>
        <Image
          class='m-photography-card__image'
          src={photography.image}
          alt={photography.imageAlt || photography.content || ''}
        />

        {
          photography.additionalImages &&
            photography.additionalImages.map((additionalImage) => (
              <Image
                class='m-photography-card__image'
                src={additionalImage.src}
                alt={additionalImage.alt || photography.content || ''}
              />
            ))
        }
      </div>

      <div class="l-photography__about u-markdown">
        <h2 class="u-h4">About my Photography</h2>
        <p>I'm no professional, but sometimes I like to capture the world around me. Sometimes, the photos turn out pretty nice. All pictures taken with an iPhone 15 Pro.</p>
        <Button href="/photography">View all photography</Button>
        {latestTimelineEntries?.length > 0 && (
          <p>Or check out other stuff I've posted recently:</p>
          <hr />
        )}
      </div>

      {
        latestTimelineEntries?.length > 0 && (
          <PostsTimeline
            bottomButton={{
              text: 'View more',
              url: '/archive',
            }}
            postGroups={latestTimelineEntries}
            client:load
          />
        )
      }
    </div>
  </div>

  <style lang='scss'>
    @use '/src/styles/mixins';

    :root:has(.l-photography) {
      @include mixins.set-accent-color('photography');
    }

    .l-photography {
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-xl);

        padding-block: var(--spacing-xl);
      }

      &__title {
        text-align: center;
        text-wrap: balance;
      }

      &__about {
        max-width: 580px;
        align-items: flex-start;

        hr {
          width: 100%;
          border-top-style: dashed;
        }

        :global(.a-button) {
          align-self: center;
        }
      }

      &__images {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
      }
    }
  </style>
</BaseLayout>
