---
import QuickReviewCard from '@components/molecules/QuickReviewCard';
import PostsTimeline from '@components/organisms/PostsTimeline';
import type { QuickReview } from '@schemas/quick-review';
import { quickReviewToQuickReviewCardProps } from '@utils/prop-mapping';
import striptags from 'striptags';
import BaseLayout from './BaseLayout.astro';
import MarkdownRenderer from '@components/molecules/MarkdownRenderer';
import { getQuickReviewSingleConfig } from '@data/yaml';

interface Props {
  review: QuickReview;
  latestTimelineEntries?: any[];
}

const { review, latestTimelineEntries }: Props = Astro.props;
const pageData = getQuickReviewSingleConfig();
---

<BaseLayout
  title={review.title}
  keywords={review.title}
  description={striptags(review.content || '')}
  image={review.image}
  autoGenerateImage={!review.image}
  slug={`quick-reviews/${review.slug}`}
  publishedDate={review.date}
>
  <div class='l-quick-review u-content-grid'>
    <div class='l-quick-review__container' data-pagefind-body>
      <h1 class='l-quick-review__title'>Quick Review: {review.title}</h1>

      <QuickReviewCard class='l-quick-review__review' {...quickReviewToQuickReviewCardProps(review)} client:load />

      {
        pageData?.about && (
          <div class="l-quick-review__about u-markdown" data-pagefind-ignore>
            <MarkdownRenderer content={pageData.about} />

            {latestTimelineEntries?.length > 0 && pageData.timelineIntro && (
              <MarkdownRenderer content={pageData.timelineIntro} />
              <hr />
            )}
          </div>
        )
      }

      {
        latestTimelineEntries?.length > 0 && (
          <aside data-pagefind-ignore>
            <PostsTimeline
              bottomButton={{
                text: 'View more',
                href: '/archive',
              }}
              postGroups={latestTimelineEntries}
              client:load
            />
          </aside>
        )
      }
    </div>
  </div>
</BaseLayout>

<style lang='scss'>
  @use '/src/styles/mixins';

  :root:has(.l-quick-review) {
    @include mixins.set-accent-color('quick-review');
  }

  .l-quick-review {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-xl);

      padding-block: var(--spacing-xl);
    }

    &__title {
      text-align: center;
      text-wrap: balance;
      color: var(--t--accent);
    }

    &__about {
      max-width: 580px;

      hr {
        width: 100%;
        border-top-style: dashed;
      }
    }
  }
</style>
